<% layout('layouts/boilerplate') %>
  <h1>Edit  Route:</h1>
  <!-- <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" placeholder="Title" name="campground[title]" value="<%= campground.title %>">
    </div>
    <div>
      <label for="location">Location</label>
      <input id="Location" type="text" placeholder="location" name="campground[location]" value="<%= campground.location %>">
    </div>
    <button>Update Campground</button>
    <p><a href="/campgrounds/<%=campground._id %>">Back To  Campgrounds</a></p>

  </form> -->






  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" id="title" type="text" placeholder="Title" name="campground[title]" value="<%= campground.title %>">
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" id="Location" type="text" placeholder="location" name="campground[location]" value="<%= campground.location %>"">
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" id="Location" type="text" placeholder="image url" name="campground[image]" value="<%= campground.image %>"">
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input id="text" type="text" class="form-control" placeholder="0.00" aria-label="Username"
              aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>">
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" type="text" placeholder="description"
            name="campground[description]"><%= campground.description %> </textarea>
        </div>
  
        <div class="mb-3">
          <button class="btn btn-info">Update Campground</button>
        </div>
        <p><a href="/campgrounds/<%=campground._id %>">Back To Campgrounds</a></p>
  
      </form>
    </div>
  
  </div>
